<!-- Page Content Holder -->
<div id="content" class="cont-style">
    <ol class="breadcrumb">
            <li class="breadcrumb-item "><span style="color:#007bff;font-weight: bold">Home</span></li>

        </ol>
<!-- Table -->
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="alert alert-info">
                <th>Row</th>
                <th>Item</th>
                <th>Category</th>
                <th>Quantity</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Bathsoap</td>
                <td><span class="label label-success">Hygiene</span></td>
                <td>1072</td>

            </tr>
            <tr>
                <td>2</td>
                <td>Computers</td>
                <td><span class="label label-danger">Electronics</span></td>
                <td>10</td>

            </tr>
            <tr>
                <td>3</td>
                <td>Books</td>
                <td><span class="label label-info">Education</span></td>
                <td>500</td>

            </tr>
            <tr>
                <td>4</td>
                <td>Noodles</td>
                <td><span class="label label-success">Food</span></td>
                <td>100kg</td>

            </tr>
        </tbody>
    </table>
</div>
</div>